@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "manrope", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  min-height: 100vh;
  background: hsl(210, 46%, 95%);
}

h1 {
  color: hsl(217, 19%, 35%);
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

h4 {
  color: hsl(217, 19%, 35%);
  font-size: 1em;
  font-weight: 700;
  line-height: normal;
}

p {
  color: hsl(214, 17%, 51%);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.article-card {
  display: grid;
  grid-template-columns: 2fr 3fr;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.article-card .article-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.article-card .article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.article-infos {
  padding: 40px;
}

.profil-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-top: 1.5em;
}
.profil-section .profil-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  gap: 12px;
}
.profil-section .profil-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.profil-section .profil-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tooltip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: hsl(217, 19%, 35%);
  width: 260px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.tooltip.show {
  opacity: 1;
  visibility: visible;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  border-top: 10px solid hsl(217, 19%, 35%);
}
.tooltip .tooltip-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.tooltip .tooltip-icons i {
  color: hsl(210, 46%, 95%);
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.tooltip .tooltip-icons i:hover {
  transform: scale(1.2);
}
.tooltip p {
  color: hsl(210, 46%, 95%);
  font-size: 13px;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 4px;
}

.shareIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: hsl(210, 46%, 95%);
}
.shareIcon i {
  color: hsl(217, 19%, 35%);
  font-size: 1.2em;
}
.shareIcon:hover {
  background: hsl(214, 17%, 51%);
}
.shareIcon:hover i {
  color: hsl(210, 46%, 95%);
}
.shareIcon.active {
  background: hsl(214, 17%, 51%);
}
.shareIcon.active i {
  color: hsl(210, 46%, 95%);
}

@media screen and (max-width: 54em) {
  .article-card {
    max-width: 90%;
  }
}
@media screen and (max-width: 40em) {
  .article-card {
    grid-template-columns: 1fr;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
  }
  .article-card .article-image img {
    border-radius: 10px 10px 0 0;
  }
  h1 {
    font-size: 1em;
  }
  h4 {
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
