@use './sass/reset';
@use './sass/colors';
@use './sass/mixins';

body {
    @include mixins.flex(column, center, center, 0);
    min-height: 100vh;
    background: colors.$light-grayish-blue;
}

h1 {
    @include mixins.font-style(colors.$very-dark-blue, 1.2em, 700, 1.5);
    margin-bottom: 12px;

}

h4 {
    @include mixins.font-style(colors.$very-dark-blue, 13px, 700, normal);
}

p {
    @include mixins.font-style(colors.$desaturated-dark-blue, 13px, 400, 1.6);
}


.article-card {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 700px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.1);
    position: relative; // nouveau code
}

.article-card {
    .article-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .article-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 0 0 10px;
    }
}



.article-infos {
    padding: 20px 32px;

}

.profil-section {
    @include mixins.flex(row, space-between, center, 0);
    margin-top: 1.3em;

    .profil-part {
        @include mixins.flex(row, center, center, 0);
        gap: 12px;
    }

    .profil-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }

    .profil-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .share-container {
        position: relative;
    }
}


.tooltip {
    @include mixins.flex(row, center, center, 12px);
    background: colors.$very-dark-blue;
    width: 260px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: calc(100% + 30px);
    left: 50%;
    transform: translateX(-50%);

    display: none;

    &.show {
        display: flex;
    }

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: colors.$very-dark-blue transparent transparent transparent;
        border-top: 10px solid colors.$very-dark-blue;
    }

    .tooltip-icons {
        @include mixins.flex(row, center, center, 6px);
    }

    .tooltip-icons i {
        color: colors.$light-grayish-blue;
        font-size: 1.2em;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .tooltip-icons i:hover {
        transform: scale(1.2);
    }

    p {
        @include mixins.font-style(colors.$light-grayish-blue, 13px, 200, 1.5);
        letter-spacing: 4px
    }


}



.shareIcon {
    @include mixins.flex(row, center, center, 0);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: colors.$light-grayish-blue;


     i {
        color: colors.$desaturated-dark-blue;
        font-size: 1.2em;
    }
    
    &:hover {
        background: colors.$desaturated-dark-blue;
    }
    
    &:hover i {
        color: colors.$light-grayish-blue;
    }
    
    &.active {
        background: colors.$desaturated-dark-blue;
        i {
            color: colors.$light-grayish-blue;
        }
    }
    
}




// Responsive Design

@media screen and (max-width: 54em) {
    
    .article-card {
        max-width: 90%;
    }
    
}


@media screen and (max-width: 48em) {
    
    .article-card {
        grid-template-columns: 1fr;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        margin: 2rem auto;
    }


    .article-card .article-image  img {
        border-radius: 10px 10px 0 0;
    }

    h1 {
        font-size: 1em;
    }

    h4 {
        font-size: 13px;
    }
    
}